{# это шаблон сайта #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} lovaclothes {% endblock %} </title>
</head>
<body background: url('images/background.jpg') center/cover no-repeat fixed;   text = "41670C">


    </div>
</header>

    {% block nav %}

    <!-- Верхняя панель навигации -->
<nav style="background-color: rgba(65, 102, 13, 0.753); padding: 15px 0; margin-bottom: 30px;">
    <div style="max-width: 1200px; margin: 0 auto; display: flex; justify-content: space-between; align-items: center;">
        <!-- Логотип -->
        <div style="color: white; font-size: 24px; font-weight: bold;">
            <div style="color: black; font-size: 24px; font-weight: bold;">
            <img src=" https://i.postimg.cc/TwWNvY4c/11zon-cropped.png " width="100" align = left>
        </div>
            
        </div
        
        <!-- Меню навигации -->
        <ul style="display: flex; list-style: none; margin: 0; padding: 0; gap: 30px;">
            <li><a href="/" style="color: rgb(255, 255, 255); text-decoration: none; font-size: 20px;">Главная</a></li>
            <li><a href="/catalog" style="color: white; text-decoration: none; font-size: 20px;">Каталог</a></li>
            <li><a href="/about" style="color: white; text-decoration: none; font-size: 20px;">О нас</a></li>
            <li><a href="/contact" style="color: white; text-decoration: none; font-size: 20px;">Контакты</a></li>
        </ul>
        
        <!-- Иконки действий -->
        <div style="display: flex; gap: 20px;">
             <a href="/search" style="color: rgb(137, 35, 35); text-decoration: none; font-size: 30px;">🔍</a>
            <a href="/cart" style="color: white; text-decoration: none; font-size: 30px;"></a>
            <a href="/login" style="color: white; text-decoration: none; font-size: 30px;">👤</a>
        </div>
    </div>
</nav>


    <ul>
<!--<img src="https://avatars.dzeninfra.ru/get-zen_doc/271828/pub_68c683e200125e6e13947d75_68ca6ef31ab5613710ff8528/scale_1200" width="300" height="250">

       элементы списка
        <li><a href="/" style="font-size: 20px;">Главная</a></li>
        <li><a href= "/about" style="font-size: 20px;" >о нас </a></li>
        <li><a href= "/catalog" style="font-size: 20px;" >каталог </a></li>
        <li><a href= "/shop now" style="font-size: 20px;" >shop now </a></li>
        <li><a href= "/contact" style="font-size: 20px;" >contact </a></li>
        <li><a href= "/login"style= "font-size: 20px;" >вход/регистрация</a></li> -->
    </ul>
    {% endblock %}

    {% block content %}
    

    {% endblock %}

    

</body>
</html>