{% extends 'base.html'%}
{%block title %}Главная - Lova & Clothes {% endblock %}
{% block content %}



<!--<ul>
{% for id in shop %}
    <li>{{id}}</li>
{% endfor %}
</ul> -->

<div style="text-align: center; padding: 40px 20px; max-width: 800px; margin: 0 auto;">
    <h2 style="font-size: 42px; color: #41670C; margin-bottom: 1px;"> lova&clothes</h2>
    <h1 style="font-size: 30px; color: #4d7a0e; margin-bottom: 60px;"> Мы начинающий бренд трендовой одежды, с нами быть стильной -просто!
    <h1 style="font-size: 30px; color: #880c0c; margin-bottom: 10px;"> Сейчас в тренде:
    </h1>
<style>
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, 225px);
  width: 100%;
  max-width: 1000px;
  justify-content: center;
  justify-items: center;
  column-gap: 30px;
  row-gap: 40px;
  margin: 0 auto;
}

.card {
  width: 225px;
  min-height: 350px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  transition: 0.2s;
  position: relative;
}

.card:hover {
  box-shadow: 4px 8px 16px rgba(65, 102, 13, 0.753);
}

.card__top {
  flex: 0 0 320px;
  position: relative;
  overflow: hidden;
}

.card__image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card__image > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: 0.2s;
}

.card__image:hover > img {
  transform: scale(1.1);
}

.card__label {
  padding: 4px 8px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: #ff6633;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}

.card__bottom {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  padding: 25px;
}

.card__prices {
  display: flex;
  margin-bottom: 10px;
}

.card__price::after {
  content: "₽";
  margin-left: 4px;
}

.card__price--discount {
  font-weight: 700;
  font-size: 19px;
  color: #414141;
}

.card__title {
  display: block;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  color: #414141;
  text-decoration: none;
}

.card__title:hover {
  color: #ff6633;
}

.card__add {
  display: block;
  width: 100%;
  font-weight: 400;
  font-size: 17px;
  color: #70c05b;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  border: 1px solid #70c05b;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s;
  margin-top: auto;
  background: none;
}

.card__add:hover {
  border: 1px solid #ff6633;
  background-color: #ff6633;
  color: #fff;
}

/* Стили для верхней панели */
.nav-link:hover {
  color: #F9ECDB !important;
  text-decoration: underline !important;
}
</style>

<!-- Сетка карточек товаров -->
<div class="cards">
{% for id in shop %}
<!-- Карточка товара -->
<div class="card">
  <!-- Верхняя часть -->
  <div class="card__top">
    <!-- Изображение-ссылка товара -->
    <a href="/product/{{id[0]}}" class="card__image">  <!-- Добавлена ссылка на страницу товара -->
      <img src="{{id[4]}}" alt="{{id[1]}}" />
    </a>
  </div>
  <!-- Нижняя часть -->
  <div class="card__bottom">
    <!-- Цены на товар -->
    <div class="card__prices">
      <div class="card__price card__price--discount">{{id[3]}}</div>
    </div>
    <!-- Ссылка-название товара -->
    <a href="/product/{{id[0]}}" class="card__title">  <!-- Добавлена ссылка на страницу товара -->
      {{id[1]}}
    </a>
    <!-- Кнопка добавить Купить -->
    <a href="/zaiavka/{{id[0]}}"style="text-decoration: none"><button class="card__add"> Купить </button></a>
  </div>
</div>
{% endfor %}
</div>

{% endblock %}
